<h1>新規登録</h1>

<%= form_with model: @user do |f| %>
  
  <div>
    <%= f.label :ユーザー名 %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
   <%= f.label :メールアドレス %>
   <%= f.email_field :email_address %>
  </div>

  <diV>
   <%= f.label :パスワード %>
   <%= f.password_field :password %>
  </div>

  <div>
   <%= f.label :パスワード確認 %>
   <%= f.password_field :password_confirmation %>
  </div>

  <div>
   <%= f.submit "新規登録" %>
  </div>

  <% end %>

  <p> すでにアカウントをお持ちの方は
     <%= link_to "ログイン", new_session_path %>
  </p>

