<h1>新規登録</h1>

<%= form_with model: @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @user.errors.count %>件のエラーが発生したため、登録できませんでした。
    </h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :ユーザー名 %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
   <%= f.label :メールアドレス %>
   <%= f.email_field :email_address %>
  </div>

  <diV>
   <%= f.label :パスワード %>
   <%= f.password_field :password %>
  </div>

  <div>
   <%= f.label :パスワード確認 %>
   <%= f.password_field :password_confirmation %>
  </div>

  <div>
   <%= f.submit "新規登録" %>
  </div>

  <% end %>

  <p> すでにアカウントをお持ちの方は
     <%= link_to "ログイン", posts_path %>
  </p>

