<h2 class="mb-4">投稿一覧</h2>

<% @posts.each do |post| %>
  <div class="card shadow-sm mb-4">
    <div class="card-body">

      <div class="d-flex align-items-center mb-3">
          <%= image_tag post.user.get_profile_image(50, 50),
                class: "rounded-circle me-3" %>

        <div>
          <strong>
            <%= link_to post.user.name, user_path(post.user) %>
          </strong><br>
          <small class="text-muted">
            <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
          </small>
        </div>
      </div>

      <h5>
        <%= link_to post.title, post_path(post), class: "text-decoration-none" %>
      </h5>

      <p><%= truncate(post.body, length: 100) %></p>

      <%= image_tag post.get_image,class: "get_image img-fluid rounded mb-3" %>

      <hr>

      <div class="d-flex justify-content-between">
        <%= link_to "詳細を見る", post_path(post), class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

